
.container {
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
}

a {
    text-decoration: none;
}

.text_container a:hover {
 color: hsl(219, 85%, 26%);
}

.group {
    color: hsl(219, 85%, 26%);
    font-weight: 800;
}

.container_blue {
    display: flex;
    margin-bottom: 20px;
    background-color:  hsl(210, 60%, 98%);
    padding: 10px;
}

.text_container {
    font-size: 13px;
    display: flex;
}

.name {
   font-weight: 800;
   color: hsl(224, 21%, 14%);
}

.avatar {
    height: 40px;
    margin-right: 5px;
}

.text_post {
    color:  hsl(219, 12%, 42%);
    font-weight: 800;
}

.circle {   
    height: 10px;
    margin-left: 3px;
}

.time {
    margin: 5px 0px 10px 0px;
}

.picture_post {
    height: 40px;
    display: inline-block;
}