
.container {
    display: flex;
    margin-bottom: 20px;
    background-color:  hsl(210, 60%, 98%);
    padding: 10px;
}

.text_container {
    font-size: 13px;
}

.name {
   font-weight: 800;
   color: hsl(224, 21%, 14%);
}

.avatar {
    height: 40px;
    margin-right: 5px;
}

.text_post {
    color:  hsl(219, 12%, 42%);
    font-weight: 800;
}

.circle {   
    height: 10px;
}